Source: ros-foxy-acado-vendor
Section: misc
Priority: optional
Maintainer: Christopher Ho <christopherj.ho@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-foxy-ament-cmake, ros-foxy-ament-cmake-lint-cmake, ros-foxy-ament-cmake-xmllint, ros-foxy-ament-lint-auto, ros-foxy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-foxy-acado-vendor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-foxy-ros-workspace
Description: ament package for ACADO toolkit for MPC code generation
